@import "tailwindcss";
/* @import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities; */

/* Primary color: #ffe607 */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 230, 7;
  --background-end-rgb: 255, 249, 150;
}

.mask-custom-size {
  mask-repeat: no-repeat;
  mask-size: 150%;
  /* Vergroot het masker */
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 150%;
  -webkit-mask-position: center;
}

body {

  overflow-x: hidden;
}
