@import "tailwindcss";
/* @import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities; */

/* Primary color: #ffe607 */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 230, 7;
  --background-end-rgb: 255, 249, 150;
}

.mask-custom-size {
  mask-repeat: no-repeat;
  mask-size: 150%;
  /* Vergroot het masker */
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 150%;
  -webkit-mask-position: center;
}

body {
  overflow-x: hidden;
}

/* Grotere slick pijlen + duidelijke override */
.slick-slider .slick-prev,
.slick-slider .slick-next {
  width: 48px;
  height: 48px;
  z-index: 10;
}

.slick-slider .slick-prev:before,
.slick-slider .slick-next:before {
  font-size: 32px !important;
  /* groter */
  line-height: 1;
  color: #4f46e5 !important;
  /* jouw kleur */
  opacity: 1 !important;
}

/* Positie iets naar buiten, pas aan naar smaak */
.slick-slider .slick-prev {
  left: -56px;
}

.slick-slider .slick-next {
  right: -56px;
}
